---
import "../styles/style.css";

import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Contactform from "../components/Contactform.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Frivillige</title>
  </head>

  <body class="bg-beige_100">
    <header>
      <Navigation />
    </header>

    <main>
      <section class="flex items-center flex-col mx-s mt-m md:mt-xl">
        <img class="mb-xs lg:mb-xl" src="/img/frivillig_disp.svg" alt="Presse" />
        <h1 class="text-xl font-bold mb-m text-center lg:text-5xl lg:mb-xxl">Vil du være frivillig?</h1>
      </section>

      <section class="mb-m ">
        <h2 class="text-3xl lg:text-4xl stroke font-bold ml-xs lg:ml-xxxl">Kontakt os</h2>
        <Contactform />
      </section>

      <section class="mb-m">
        <h2 class="text-3xl lg:text-4xl stroke font-bold ml-xs mb-xs lg:mb-xl lg:ml-xxxl">Godt at vide</h2>
        <div>
        <p class="mx-xs mb-xs lg:mx-xxxl lg:mb-s">Vi beder vores frivillige personale om at arbejde minimum 8 timer under festivalen. <br>
        Eller sammenlagt 10 timer ifm. opbygning eller nedtagning, hhv. før eller efter RUB.</p>
      </div>
      <div>
        <p class="mt-xxxs mx-xs lg:mx-xxxl">Foreninger der stiller med frivillig personale aflønnes med kr. 80,- per time for voksne <br>
        og kr. 60,- per time for unge under 18 år til foreningskassen.</p>
      </div>
      </section>

      
        <Footer />
        <script src="../scripts/all.js"></script>
    </main>
  </body>
</html>
