---
import "../styles/style.css";

import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import OverviewDropdown from "../components/OverviewDropdown.astro";
import ProgramElement from "../components/ProgramElement.astro";
import BtnPrimary from "../components/BtnPrimary.astro";
import BtnSekundaryBlack from "../components/BtnSekundaryBlack.astro";
import BtnSekundaryWhite from "../components/BtnSekundaryWhite.astro";
import CardSingleview from "../components/CardSingleview.astro";
import CardBillet from "../components/CardBillet.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Forside</title>
  </head>

  <body class="bg-beige_100">
    <header>
      <Navigation />
    </header>
    <main class="min-h-screen mt-xl">
      <BtnPrimary btn_primary="Køb billet" />

      <BtnSekundaryBlack btn_sekundary="Se program" />
      <BtnSekundaryWhite btn_sekundary="Se program" />
      <CardSingleview artist="DREW SACYMORE" tid="Fredag kl. 18" />
      <CardBillet title="Fredagsbillet" date="9. Juni 2023" opening="Dørerne åbner kl. 15:00" price="695 DKK" />
      <footer>
        <Footer />
      </footer>
      <script>
        import "../scripts/menu.js";
        import "../scripts/overviewDropdown.js";
      </script>
    </main>
  </body>
</html>
