---
import "../styles/style.css";

import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import OverviewDropdown from "../components/OverviewDropdown.astro";
import ProgramElement from "../components/ProgramElement.astro";
import BtnPrimary from "../components/BtnPrimary.astro";
import BtnSekundary from "../components/BtnSekundary.astro";
import CardSingleview from "../components/CardSingleview.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Forside</title>
  </head>

  <body class="bg-beige_100">
    <header>
      <Navigation />
    </header>
    <main class="min-h-screen">
      <footer>
        <Footer />
      </footer>
      <script>
        import "../scripts/menu.js";
        import "../scripts/overviewDropdown.js";
      </script>
    </main>
  </body>
</html>
