---
import '../styles/style.css';

import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import OverviewDropdown from '../components/OverviewDropdown.astro';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='robots' content='noindex' />
    <title>Nyheder</title>
  </head>

  <body class='bg-beige_100'>
    <header>
      <Navigation />
    </header>

    <main>
      <section class='flex items-center flex-col mx-s mt-m md:mt-xl'>
        <img class='mb-xs lg:mb-xl' src='/img/nyheder_disp.svg' alt='Nyheder' />
        <h1 class='text-xl font-bold mb-m text-center lg:text-5xl lg:mb-xxl'>
          Se sommerens fedeste <br /> festivalsprogram her!
        </h1>
      </section>
      <section class='mb-m'>
        <OverviewDropdown title='MUB bliver kontantløs'>
          <p slot='beskrivelse'>
            I 2023 kan man betale med kort i alle barer på pladsen. <br /> Vi modtager
            alle korttyper. Det vil også være muligt at benytte Google- og Apple
            Pay Herudover vil det være muligt at forkøbe drikkevarer drikkevarer
            på vores app, som kan indløses i alle vores barer. Du kan IKKE betale
            med MobilePay.
          </p>
        </OverviewDropdown>
        <hr class='blueLine' />
        <OverviewDropdown title='Nye kræfter i bestyrelsen'>
          <p slot='beskrivelse'>
            Henrik Zederkof tiltræder som bestyrelsens nye næstformand, mens
            Jesper Sune Hansen vil være Musik under Broens nye kasserer. Sammen
            med siddende bestyrelsesmedlem Lykke Henriksen får Jesper Holmen
            ansvar for miljø, bæredygtighed og de frivillige. Peter Zederkof
            fortsætter som musikansvarlig samt pladsansvarlig og Martin Beyer
            som ansvarlig for markedsføring og kommunikation på de sociale
            medier.
          </p>
        </OverviewDropdown>
        <hr class='blueLine' />
        <OverviewDropdown title='Tuborg forlænger samarbejdet'>
          <p slot='beskrivelse'>
            Når de musikglade gæster skal slukke tørsten til Musik Under Broen,
            bliver det igen med Tuborg i hanerne. Tuborg og Musik Under Broen
            har nemlig forlænget samarbejdet med fem år. Til næste år kan de
            musikglade gæster slukke tørsten i andet end kolde Tuborg. Man har
            nemlig også indgået en aftale om at udvide sortimentet med det
            populære Bluetail-koncept, som består af økologiske
            cocktail-varianter på fad.
          </p>
        </OverviewDropdown>
        <hr class='blueLine' />
        <OverviewDropdown title='Bent Frandsen stopper som formand'>
          <p slot='beskrivelse'>
            Efter at have været aktiv for Musik Under Broen hen over tre årtier
            har Bent Frandsen, formand for Musik Under Broen, besluttet sig for
            at stoppe, mens legen er god. Sommerens to festdage i juni 2022 blev
            en overvældende succes for alle de frivillige, kunstnerne og holdet
            bag ved Musik Under Broen. – Nu skal vi hjælpe det hele godt videre.
            For Vagn Ove Hansen og Claus Hansen stopper også. Det unge team skal
            til at fylde badekarret op med frisk vand, og vi byder dem velkommen
            i spidsen for en af Danmarks mest solide endagsfestivaller.
          </p>
        </OverviewDropdown>
        <hr class='blueLine' />
        <OverviewDropdown title='Mindeord for Bent Nygaard'>
          <p slot='beskrivelse'>
            Bent Nygaard er gået bort, vores tanker går til hele hans familie.
            Bent har været en stor hjælp for Musik under Broen siden starten af
            1989 og frem til 2006 hvor han som den første og eneste er blevet
            kåret til præsident for Musik under broen for hans store indsats.
            Der er ikke noget i denne verden Bent ikke nåede da han lagde
            kaptajns kasketten onsdag nat. Bent er taget af sted på sin sidste
            sejltur, og vi ønsker ham god vind i sejlene.
          </p>
        </OverviewDropdown>
        <hr class='blueLine' />
      </section>
    </main>
    <Footer />

    <script src='../scripts/all.js'></script>
  </body>
</html>
