---
import "../styles/style.css";

const { btn_primary } = Astro.props;
---

<button class="btn_primary_small flex flex-col items-center text-primary_white bg-primary_blue">{btn_primary}</button>

<style>
  .btn_primary_small {
    padding: 15px 25px 15px 25px;
    border-radius: 19px;
    box-shadow: 0px 5px 5px #012177;
  }

  .btn_primary_small:hover {
    box-shadow: 2.5px 7.5px 10px #012177;
    font-size: 1.1rem;
  }
</style>
