---
import "../styles/style.css";

---

<button class="btn_sekundary text-base border-2 border-primary_white flex flex-col items-center text-primary_white md:text-xl font-bold">Se program</button>

<style>
  .btn_sekundary {
    padding: 11px 21px 11px 21px;
    border-radius: 19px;
  }

  .btn_sekundary:hover {
    box-shadow: 2px 5px 8px #b5b5b5;
    font-size: 1.03rem;
  }

  @media (min-width: 768px) {
    .btn_sekundary:hover {
      font-size: 1.28rem;
    }
  }
</style>
