---
import "../styles/style.css";
---

<footer class="sticky top-[100vh] w-screen ">
    <hr class="orangeline" />
    <div class=" flex justify-evenly flex-col gap-xxxs mt-xs ml-xs md:ml-0 md:flex-row ">
    <div class="flex flex-col gap-xxxs"> 
        <h3 class=" text-xl md:text-4xl font-bold ">Fang os</h3>
        <address>
            Under Den Nye Lillebæltsbro, <br/>
            5500 Middelfart<br/>
            Danmark
        </address>
        <a href="tel:+4512345678">Tlf: +45 12 34 56 78</a> 
        <a href="mailto:mub@gmail.com">Mail: mub@gmail.com</a>
    </div>
    <div>
        <a class="text-xl md:text-4xl font-bold" href="presse.html">Presse</a>
    </div>
    <div>
        <a class="text-xl md:text-4xl font-bold" href="frivillige.html ">Frivillige</a>
    </div>
    <div>
        <a class="text-xl md:text-4xl font-bold" href="nyheder.html">Nyheder</a>
    </div>
</div>
  <div class="flex gap-xxxs mb-xs items-center justify-center">
        <img class=" w-s md:w-m" src="/img/facebook-web.svg" alt="facebook ikon">
        <img class=" w-s md:w-m" src="/img/instagram-web.svg" alt="instagram ikon">
        <img class=" w-s md:w-m" src="/img/spotify-web.svg" alt="spotify ikon">
        <img class=" w-s md:w-m" src="/img/youtube-web.svg" alt="youtube ikon">
    </div>
</footer>

