---
import "../styles/style.css";
---

<footer class="sticky top-[100vh] w-screen ">
    <hr class="orangeline md:mb-m" />
    <div class="grid gap-xxxs ml-xs mt-xs mb-xs md:mb-m md:ml-xl md:grid-cols-4 md:grid-rows-2 md:gap-m">
    <div class="md:row-start-1 md:row-end-3 flex flex-col gap-xxxs"> 
        <h3 class=" text-xl md:text-4xl font-bold ">Fang os</h3>
        <address>
            Under Den Nye Lillebæltsbro, <br/>
            5500 Middelfart<br/>
            Danmark
        </address>
        <a href="tel:+4512345678">Tlf: +45 12 34 56 78</a> 
        <a href="mailto:mub@gmail.com">Mail: mub@gmail.com</a>
    </div>
    <div class="flex flex-col gap-xxxs ">
        <h3 class="text-xl md:text-4xl font-bold">Presse</h3>
        <a href="presse.html">Fang os her</a>
    </div>
    <div class="flex flex-col gap-xxxs">
        <h3 class="text-xl md:text-4xl font-bold">Frivillige</h3>
        <a href="frivillige.html ">Vil du være med?</a>
    </div>
    <div class="flex flex-col gap-xxxs">
        <h3 class="text-xl md:text-4xl font-bold">Nyheder</h3>
        <a href="nyheder.html">Hold dig opdateret</a>
    </div>
    <div class="flex gap-xxxs items-center md:col-start-4 md:col-span-1">
        <img class=" w-s md:w-m" src="/img/facebook-web.svg" alt="facebook ikon">
        <img class=" w-s md:w-m" src="/img/instagram-web.svg" alt="instagram ikon">
        <img class=" w-s md:w-m" src="/img/spotify-web.svg" alt="spotify ikon">
        <img class=" w-s md:w-m" src="/img/youtube-web.svg" alt="youtube ikon">
    </div>
</div>
</footer>

