---
import "../styles/style.css";
---

<footer class="sticky top-[100vh]">
    <hr class="orangeline md:mb-m" />
    <div class="md:-mb-m grid md:grid-cols-4 md:grid-rows-2 md:ml-m md:gap-m">
    <div class="md:row-start-1 md:row-end-3"> 
        <h3 class="h3 ">Fang os</h3>
        <address>
            Under Den Nye Lillebæltsbro, <br/>
            5500 Middelfart<br/>
            Danmark
        </address>
        <a href="tel:+4512345678">+45 12 34 56 78</a>
        <a href="mailto:mub@gmail.com">mub@gmail.com</a>
    </div>
    <div>
        <h3 class="h3">Presse</h3>
        <a href="presse.html">Fang os her</a>
    </div>
    <div>
        <h3 class="h3">Frivillige</h3>
        <a href="frivillige.html ">Vil du være med?</a>
    </div>
    <div>
        <h3 class="h3">Nyheder</h3>
        <a href="nyheder.html">Hold dig opdateret</a>
    </div>
    <div class="flex items-center md:col-start-4 md:col-span-1">
        <img src="/img/facebook-web.svg" alt="facebook ikon">
        <img src="/img/instagram-web.svg" alt="instagram ikon">
        <img src="/img/spotify-web.svg" alt="spotify ikon">
        <img src="/img/youtube-web.svg" alt="youtube ikon">
    </div>
</div>
</footer>

