---
import "../styles/style.css";
---

<nav >
  <a href="index.html" class="top-xxs left-xxs absolute hidden md:block"><img class="" src="/img/logo-black-web.svg" alt="logo" /></a>
  <a href="index.html" class="top-xxs left-xxs absolute md:hidden"><img class="" src="/img/logo-black-mobil.svg" alt="logo" /></a>
  <div class="menu bg-primary_blue pl-xs md:pl-xxxl ">
    <a href="index.html" class="top-xxs left-xxs absolute hidden md:block"><img class="" src="/img/logo-white-web.svg" alt="logo" /></a>
    <a href="index.html" class="top-xxs left-xxs absolute md:hidden"><img class="" src="/img/logo-white-mobil.svg" alt="logo" /></a>
    
    <ul class="mt-xxl">
      <li>
        <a class="menuItem text-primary_white h4 mb-xs md:mb-s md:h2" href="billetter.html">Billetter</a>
      </li>
      <li>
        <a class="menuItem text-primary_white h4 mb-xs md:mb-s md:h2" href="program.html">Program</a>
      </li>
      <li>
        <a class="menuItem text-primary_white h4 mb-xs md:mb-s md:h2" href="praktisk.html">Praktisk info</a>
      </li>
      <li>
        <a class="menuItem text-primary_white h4 md:h2 " href="kort.html">Find vej</a>
      </li>
    </ul>

  </div>

  <button class="menu_toggle_btn top-xs right-xs md:top-s md:right-s">
    <img src="/img/burgerIconBlack.svg" alt="bars" class=" w-xs h-xs md:h-s md:w-s menuIcon " />
    <img src="/img/closeIconWhite.svg" alt="close" class=" w-xs h-xs md:h-full md:w-full closeIcon" />
 
  </button>
</nav>


<style> 
  .menuItem {
    display: block;
    text-decoration: none;

  }

  .menu_toggle_btn {
    position: fixed;
    z-index: 100;
    cursor: pointer;
  }

  .closeIcon {
    display: none;
  }

  .menu {
    position: fixed;
    transform: translateY(-100%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
  }

  .showMenu {
    transform: translateY(0);
  }</style>