---
import "../styles/style.css";
---

<nav class="mt-xxs ml-xxs md:mt-xs md:ml-xs sticky md:h-xxl bg-beige_100">
  <a href="index.html" class=" fixed top-xs left-xs  hidden md:block"><img class="" src="/img/logo-black-web.svg" alt="logo" /></a>
  <a href="index.html" class=" fixed top-xs left-xs  md:hidden"><img class="" src="/img/logo-black-mobil.svg" alt="logo" /></a>
  <div class="menu bg-primary_blue ">
    <a href="index.html" class=" fixed mt-xs ml-xs  hidden md:block"><img class="" src="/img/logo-white-web.svg" alt="logo" /></a>
    <a href="index.html" class=" fixed md:hidden"><img class="ml-xs mt-xs" src="/img/logo-white-mobil.svg" alt="logo" /></a>
    
    <ul class=" ml-xs mt-xxl md:mt-xxxl md:ml-xxl ">
      <li>
        <a class="menuItem text-primary_white h4 mb-xs md:mb-s md:h2" href="billetter.html">Billetter</a>
      </li>
      <li>
        <a class="menuItem text-primary_white h4 mb-xs md:mb-s md:h2" href="program.html">Program</a>
      </li>
      <li>
        <a class="menuItem text-primary_white h4 mb-xs md:mb-s md:h2" href="praktisk.html">Praktisk info</a>
      </li>
      <li>
        <a class="menuItem text-primary_white h4 md:h2 " href="kort.html">Find vej</a>
      </li>
    </ul>

  </div>

  <button class="menu_toggle_btn top-s right-s md:top-m md:right-m">
    <img src="/img/burgerIconBlack.svg" alt="bars" class=" menuIcon " />
    <img src="/img/closeIconWhite.svg" alt="close" class=" closeIcon" />
 
  </button>
</nav>


<style> 
  .menuItem {
    display: block;
    text-decoration: none;

  }

  .menu_toggle_btn {
    position: fixed;
    z-index: 100;
    cursor: pointer;
  }

  .closeIcon {
    display: none;
  }

  .menu {
    position: fixed;
    transform: translateY(-100%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
  }

  .showMenu {
    transform: translateY(0);
  }</style>