---
---

<nav >
  <a href="index.html" class="top-xxs left-xxs absolute"><img class="" src="/img/logo-black-web.svg" alt="logo" /></a>
  <div class="menu bg-primary_blue pl-xs md:pl-xxxl ">
    <a href="index.html" class="top-xxs left-xxs absolute"><img class="" src="/img/logo-white-web.svg" alt="logo" /></a>
    <ul >
      <li>
        <a class="menuItem text-primary_white mb-xs md:mb-s" href="billetter.html">Billetter</a>
      </li>
      <li>
        <a class="menuItem text-primary_white mb-xs md:mb-s" href="program.html">Program</a>
      </li>
      <li>
        <a class="menuItem text-primary_white mb-xs md:mb-s" href="praktisk.html">Praktisk info</a>
      </li>
      <li>
        <a class="menuItem text-primary_white " href="kort.html">Find vej</a>
      </li>
    </ul>
  </div>

  <button class="menu_toggle_btn top-s right-s">
    <img src="/img/burgerIconBlack.svg" alt="bars" class=" h-s w-s  menuIcon" />
    <img src="/img/closeIconWhite.svg" alt="close" class=" h-full w-full closeIcon" />
  </button>
</nav>


<style> 
  .menuItem {
    display: block;
    text-decoration: none;

  }

  .menuItem:hover {
    text-decoration: underline;
  }

  .menu_toggle_btn {
    position: fixed;
    z-index: 100;
    cursor: pointer;
  }

  .closeIcon {
    display: none;
  }

  .menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
  }

  .showMenu {
    transform: translateY(0);
  }</style>