---
const overskrift = Astro.props.overskrift;
const beskrivelse = Astro.props.beskrivelse;
---


    <div class="grid grid-cols-4  mt-xxxl">
     
    <div class="flex col-span-4 md:mb-s">
      <button type="button" class="infobox md:ml-xl md:mr-s">
        <img src="/img/openArrow.svg" class="h-4 w-4 openArrow" alt="down arrow" />
        <img src="/img/closeArrow.svg" class="h-4 w-4 closeArrow hidden" alt="up arrow" />
        
      </button>
      <h3 class="col-span-2 h3 stroke ">{overskrift} </h3>
        
    </div>
    <hr class="blueLine col-span-4 "/>
      <div class="content col-start-2 col-span-2 md:mb-s md:mt-s">
        <p>{beskrivelse}</p>
     
      </div>
    </div>


  <style>
    .infobox {
  cursor: pointer;
}

.content {
  display: none;
}
  </style>