---
const overskrift = Astro.props.overskrift;
const beskrivelse = Astro.props.beskrivelse;
---


    <div class="grid grid-cols-4 ">
     
    <div class="flex col-span-4 mb-xxs md:mb-s ">
      <button type="button" class="infobox ml-xs mr-xxxs md:ml-xl md:mr-s">
        <img src="/img/openArrow.svg" class="openArrow" alt="down arrow" />
        <img src="/img/closeArrow.svg" class="closeArrow hidden" alt="up arrow" />
      </button>
      <h3 class="text-4xl  md:text-5xl col-span-2 stroke font-bold ">{overskrift}</h3>
    </div>
    <hr class="blueLine col-span-4 "/>
      <div class="content col-start-2 col-span-2 mb-xxs mt-xxs md:mb-s md:mt-s">
       <slot name="beskrivelse"/>
      </div>
    </div>


  <style>
    .infobox {
  cursor: pointer;
}

.content {
  display: none;
}
  </style>