---
import "../styles/style.css";

const { time, artist } = Astro.props;
---
<hr class="blueLine"/>
<div class="flex justify-between mt-xxs mb-xxs mr-xs ml-xs md:mr-xl md:ml-xl ">
    <div class="flex gap-xxxs ">
<p class="mt-xxxs">{time}</p>
<h3 class="h3 stroke">{artist}</h3>
</div>
<button>
    <a href="singleview.html">Læs mere</a>
</button>
</div>
<hr class="blueLine"/>